h1{
    color:white;
}
body{
    background-color: red;
}
.content{
    width: 95vw;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.list-wrap{
    width: 15vw;
}

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pokeIcon{
    margin-right: 2em;
}
.search-wrapper{
    margin: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-input{
    padding: 0.5em;
    border: 0.5px solid lightgray;
    border-radius: 5px;
}
.close,.search{
    padding: 0.5em;
    background-color: white;
    border: 0px solid white;
    border-radius: 5px;
    margin: 0px 0.1em 0px 0.1em
}

.search:hover{
    background-color:lightgreen;
}
.close:hover{
    background-color: lightcoral;
}
.filter-wrapper{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    right:0;
    width: 20vw;
}
.filter-wrap>div>label,.filter-wrapper>p{
    color: white;
    font-size: 1em;
    font-weight: bold;
}
#error{
    font-size: 1.2em;
    font-weight: bold;
}
.mainContainer{
    container-type: inline-size;
}
@container (max-width: 500px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .filter-wrapper{
        width: 100vw;
    }
    .search-wrapper,.header{
        width: 100vw;
    }
    
    .list-wrap{
        width:30vw;
    }
    
}