*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.mainContainer{
    margin: 10px;
    max-width: 100vw;
    width:95vw;
    margin: 0 auto;
}
.header,.search-wrapper,.filter-wrapper,.filter-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 1.2em;
}
.header,.search-wrapper{
    flex-direction: column;
}
.filter-wrapper > p{
    font-size: 1.2em;
    font-weight: bolder;
}
.search-wrapper{
    width: 80vw;
    margin: 0 auto;
}
.search-input{
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
}
.close{
    border-style: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 11px;
}
.close:hover{
    background-color: rgb(192, 162, 162);
}
.content{
    background-color: white;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list-wrap{
    width: 90px; 
    padding: 20px; 
}
@media only screen and (min-width:768px){
    .mainContainer{
        width:100vw;
    }
    .content{
        max-width: 760px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .list-wrap{
        width: 150px; 
        padding: 20px; 
    }
    .search-wrapper{
        min-width: 768px;
    }
    .search-input{
        width: 500px;
    }
}
@media only screen and (min-width:1000px){
    .content{
        width: 1000px;
        min-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .list-wrap{
        width: 150px; 
        padding: 5px; 
    }
    .search-wrapper{
        min-width: 1000px;
    }
    .search-input{
        width: 800px;
    }
}
